%li
  .date
    = post[:date]
  - if post[:deleted]
    %span.deleted= post[:title]
  - else
    %span.title= post[:title]
  %a{:href => "/del/#{post[:id]}", :title => 'delete'}
    [x]
  - if current(post)
    %form{:method => 'post', :action => '/'}
      %input{:type => 'text', :name => 'title', :id => 'input'}
      %input{:type => 'hidden', :name => 'parent_id', :value => post[:id]}
      %input{:type => 'submit', :value => 'add', :id => 'send'}
  - else
    %a{:href => "?rt=#{post[:id]}", :title => 'reply'}
      [..]
  - if children.count > 0
    %ul
      - children.each do |p|
        = display(p)
