%li
  .date
    = post[:date]
  = post[:title]
  %a{:href => "/del/#{post[:id]}"}
    ￩
  - if current(post)
    %form{:method => 'post', :action => '/'}
      %input{:type => 'text', :name => 'title', :id => 'input'}
      %input{:type => 'hidden', :name => 'parent_id', :value => post[:id]}
      %input{:type => 'submit', :value => 'add', :id => 'send'}
  - else
    %a{:href => "?rt=#{post[:id]}"}
      ￬
  - if children.count > 0
    %ul
      - children.each do |p|
        = display(p)
